# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ts

/example/output/*
!/example/input/*.exe

/build/*
/source/resource/*
/thirdparty/boost/*
/intermediate/*
*.TMP

/document/*
/benchmark/Oodel_Temp/*

example/tangram.log
